#header4-0 H1 {
  color: #faaf40;
}
#header4-0 P {
  color: #1abc9c;
  text-align: center;
}
#dropdown-menu-2btn-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1 .nav .link,
#dropdown-menu-2btn-1 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1 .navbar,
#dropdown-menu-2btn-1 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1 .dropdown-menu a:hover,
#dropdown-menu-2btn-1 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1 .nav .link,
#dropdown-menu-2btn-1 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1 .navbar,
#dropdown-menu-2btn-1 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1 .dropdown-menu a:hover,
#dropdown-menu-2btn-1 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-2 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2 .nav .link,
#dropdown-menu-2btn-2 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-2 .navbar,
#dropdown-menu-2btn-2 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-2 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2 .dropdown-menu a:hover,
#dropdown-menu-2btn-2 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-2 .navbar-toggler {
  color: #ffffff;
}
#pricing-table1-4 H3 {
  color: #ffffff;
}
#dropdown-menu-2btn-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-8 .nav .link,
#dropdown-menu-2btn-8 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-8 .navbar,
#dropdown-menu-2btn-8 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-8 .dropdown-menu a:hover,
#dropdown-menu-2btn-8 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-8 .navbar-toggler {
  color: #ffffff;
}
